.coreyimage{
    border-radius: 40%;
    height: 40vh;
    width: 40vh
}

.headerdiv {
    background-image: url('../images/aboutpic.jpg');
    background-repeat: no-repeat;
    background-size: cover; /* This will make sure the image covers the entire div */
    background-position: center;
    height: 35vh;
    
}
.Abouth2 {
    position: relative;
   right: 25%;
   top: 40%;
    text-align: center;
    color: white;
    
}
.picaboutdiv{
    margin: 3%;
    display: flex;
    justify-content: space-evenly;
}
.aboutdiv{
    text-align: center;
    padding: 1%;
    margin: 1%;
    width: 40vh;
}
@media (max-width: 770px) {
    .picaboutdiv{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
  }
  /* call now button */
  .buttondiv{
    display: flex;
    justify-content: center;
  }
  .calldiv{
    display: flex;
    justify-content: center;
    margin: 1%;
  }
  .button-89 {
    --b: 3px;   /* border thickness */
    --s: .45em; /* size of the corner */
    --color: #373B44;
    
    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
      conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
      var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 16px;
  
    border: 0;
  
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-bottom: 5%;
  }
  
  .button-89:hover,
  .button-89:focus-visible{
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
  }
  
  .button-89:active {
    background: var(--color);
    color: #fff;
  }