
.maincontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/cali3.png');
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.mainintro {
  padding: 5%;
  margin: 1%;
  background-color: rgba(0, 0, 0, 0.5); /* Grey color with 50% opacity */
}
.maininfo{
    font-size: 8vh;
    color: white
}
.mainsubinfo{
color: white
}
.mainquote{
    color: white
}
.Servicesdiv{
display: flex;
flex-direction: column;
justify-content: center;
margin-top: 5%;
}
.servicestext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    
}
.servicesimages{
    display: flex;
    flex-direction: row;
  justify-content: space-evenly;
 align-items: center;
    background-repeat: no-repeat;
    background-size: cover; 
    
}
.ourservicesh2{
    text-align: center;
  
}
.servicediv{
    height:20vh;
    width: 20vh;
    background-color: aliceblue;
}

/* mett your new handyman */
.learnaboutdiv{
  display: flex;
  justify-content: center;
}
.learnabout {
    border-radius: 4px;
    background-color: orange;
    border: 1px;
    color: #FFFFFF;
    text-align: center;
    padding: 1%;
    width: 30vh;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 4%;
    margin-bottom: 4%;
    overflow: hidden; /* Hide overflowing text */
    white-space: nowrap; /* Prevent text from wrapping */
  }
  
  .learnabout span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .learnabout span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .learnabout:hover span {
    padding-right: 25px;
  }
  
  .learnabout:hover span:after {
    opacity: 1;
    right: 0;
  }

/* Media query for desktop */
@media (min-width: 769px) {
    .servicesimages {
      
      height: 55vh; /* Adjust the height for desktop */
    }
  }
  
  /* Media query for mobile */
  @media (max-width: 925px) {
   
  }
  @media (max-width: 768px) {
    .learnabout {
        width: auto; /* Allow the button to adapt to content width */
    }
}