.maincontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.mainintro{
    padding: 20%;
}
.maininfo{
    font-size: 8vh;
    color: white
}
.mainsubinfo{
color: white
}
.mainquote{
    color: white
}