.headerdiv3 {
    position: relative;
    background-image: url('../images/house2.jpg');
    background-repeat: no-repeat;
    background-size: cover; /* This will make sure the image covers the entire div */
    background-position: center;
    height: 35vh;
    
}
.Servicesh2 {
    position: relative;
   right: 25%;
   top: 40%;
    text-align: center;
    color: white;
    
}
.overlay2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Adjust opacity for dimming effect */
    pointer-events: none;
    /* Allow click-through to content below */
}
.servicescontainer {

 display: flex;
 flex-direction: column;
  
}
.subcontainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.servicesh3{
    text-align: center;
    margin-top: 5%;
}
.servicep{
    text-align: center;
    }
    
    .servicesdescription{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 5%;
        font-size: large;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
.servicesbottomdetails{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 3%;
}