.Headercontainer{
    display: flex;
    border: 1px solid black;
   justify-content: space-around;
    background-color:white;
    align-items: flex-end;
}
h1{
    color: white;
}
a{
    padding: 1px;
    margin: 2px;
}

.logo{
   
    height: 20vh;
    width: 20vh
}
.headercontact{
    align-self: center;
    background-color: aqua;
    width: 10vh;
    height: 5vh;
}
#headerphone{
    align-self: center;
}