.Headercontainer{
    display: flex;

   justify-content: space-between;
    background-color:white;
align-items: center;
}
h1{
    color: white;
}
a{
    padding: 1px;
    margin: 2px;
}

.logo{
   
    height: 20vh;
    width: 20vh
}
.headercontact{
    
 
    width: 10vh;
    height: 5vh;
}
#headerphone{
    
}
