.navcontainer{
justify-content: center;
   display: flex;
position: relative;
 
}

.btn{
    background-color: orange;
}

@media screen and (max-width: 896px) {
 
  

    .navcontainer{
    
        display: flex;
        align-self: center;
    }
  }