.Headercontainer{
    display: flex;

   justify-content: space-around;
    background-color:white;
align-items: center;
}
h1{
    color: white;
}


.logo{
   
    height: 30vh;
    width: 30vh
}
.headercontact{
    
 
    width: 10vh;
    height: 5vh;
}
.headerphone{
    background-color: orange;
    position: relative;
    display: inline-block;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
 
}
.headerphone:hover{
    background-color:  rgb(238, 155, 0);
}
.headerphonediv{
    margin: 1%;
}



